<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="productIdInput">Wpisz kod produktu:</label>
        <input type="text" class="form-control" name="procuctId" placeholder="kod produktu..." [(ngModel)]="productId">
      </div>
      <div class="btn-toolbar mb-1" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary">E</button>
          <button type="button" class="btn btn-secondary">T</button>
          <button type="button" class="btn btn-secondary">L</button>
        </div>
      </div>
      <div class="btn-toolbar mb-1" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="Second group">
        <button type="button" class="btn btn-secondary" (click)="etlRequest()">ETL</button>
      </div>
    </div>


  </form>
</div>
<div class="col-md-4"></div>
</div>
<app-datapresenter></app-datapresenter>