<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form>
          <div class="form-group">
            <label for="productId">Wpisz kod produktu:</label>
            <input class="form-control" id="productId" placeholder="kod produktu..." >
          </div>
         
          <div class="form-group">
            <button type="submit" class="btn btn-default">E</button>
            <button type="submit" class="btn btn-default">T</button>
            <button type="submit" class="btn btn-default">L</button>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-default">ETL</button>
          </div>

        </form>
    </div>
    <div class="col-md-4"></div>
  </div>