<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-header">
        <p>
          <strong>Model: </strong>{{ decode(etlData.product_data.model) }}
        </p>
      </div>
      <div class="card-body">
        <p>
          <strong>Kod produktu: </strong>{{ decode(etlData.element_id) }}
        </p>
        <p>
          <strong>Typ: </strong>{{ decode(etlData.product_data.type) }}
        </p>
        <p>
          <strong>Marka: </strong>{{ decode(etlData.product_data.brand) }}
        </p>
        <p>
          <strong>Uwagi dodatkowe: </strong>
        </p>
        <ul>
          <li *ngFor="let remark of etlData.product_data.remarks"> {{ decode(remark) }} </li>
        </ul>
      </div>
      <div class="card-footer">
        <p>
          <strong>Liczba opinii:</strong> {{etlData.product_data.opinions.length}}
        </p>

        <div class="btn-group  mr-1 mb-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary col-sm-offset" (click)="toggleOpinions()">
            <span *ngIf="!showOpinions">
              <i class="fas fa-toggle-off" aria-hidden="true"></i> Pokaż opinie
            </span>
            <span *ngIf="showOpinions">
              <i class="fas fa-toggle-on" aria-hidden="true"></i> Ukryj opinie
            </span>
          </button>
        </div>
        <div class="btn-group  mr-1 mb-2 float-right" role="group" aria-label="First group">
          <a class="btn btn-success" href="{{downloadCsvLink}}" download="product.csv" role="button">Pobierz plik CSV
            <i class="fas fa-download" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="showOpinions">
      <div class="card mb-2" *ngFor="let opinion of etlData.product_data.opinions">
        <div class="card-body">
          <p class="float-sm-right">
            <span class="text-success">
              <i class="fa fa-thumbs-up"></i> {{ opinion.up_votes }}</span>
            <span class="text-danger">
              <i class="fa fa-thumbs-down"></i> {{ opinion.down_votes }}</span>
          </p>
          <p class="card-subtitle mb-3 text-muted">{{ decode(opinion.date) }}</p>
          <h5 class="card-title">{{ decode(opinion.author) }}</h5>
          <p class="card-subtitle font-weight-bold mb-2 text-success" *ngIf="opinion.positive == 1">POLECAM
            <i class="fa fa-star"></i>
            <span class="text-dark font-weight-normal">{{ decode(opinion.stars)}}/5</span>
          </p>
          <p class="card-subtitle font-weight-bold mb-2 text-danger" *ngIf="opinion.positive == 0">NIE POLECAM
            <i class="fa fa-star"></i>
            <span class="text-dark font-weight-normal">{{ decode(opinion.stars) }}/5</span>
          </p>
          <p class="card-text">{{ decode(opinion.summary) }}</p>
          <div class="row">
            <div class="col-md-6" *ngIf="opinion.advantages.length > 0">
              <h6 class="text-success">ZALETY</h6>
              <ul>
                <li *ngFor="let advantage of opinion.advantages">{{ decode(advantage) }}</li>
              </ul>
            </div>
            <div class="col-md-6" *ngIf="opinion.disadvantages.length > 0">
              <h6 class="text-danger">WADY</h6>
              <ul>
                <li *ngFor="let disadvantage of opinion.disadvantages">{{ decode(disadvantage) }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>