<div class="jumbotron">
    <h1>Proces ETL</h1>
    <p class="lead text-justify"> Przeprowadzenie procesu ETL (Extract, Transform, Load) pozwala na pozyskanie danych dla hurtowni danych. 
      <br>Zadaniem narzędzi ETL jest uzyskanie danych ze źródeł zewnętrznych, ich przekształcenie, a następnie załadowanie do struktur hurtowni danych. Stworzona aplikacja służy do przeprowadzenia procesu ETL na podstawie danych źródłowych o produktach z serwisu internetowego ceneo.pl, głównie z działów „Komputery”, „Fotografia” oraz „Telefony i Akcesoria”.
   </p>
    <p><a class="btn btn-lg btn-success" href="etl" role="button">Przejdź do procesu 
      <i class="fa fa-arrow-alt-circle-right" aria-hidden="true"></i>
    </a></p>
  </div>